.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.grey {
    color: #646464;
}

.width10 {
    width: 10%;
    height: 22px;
    border: 1px solid black;
}

.width20 {
    width: 20%;
    height: 22px;
    border: 1px solid black;
}

.width30 {
    width: 30%;
    height: 22px;
    border: 1px solid black;
}

.width40 {
    width: 40%;
    height: 22px;
    border: 1px solid black;
}

.width50 {
    width: 50%;
    height: 22px;
}

.width60 {
    width: 60%;
    height: 22px;
}

.width70 {
    width: 70%;
    height: 22px;
}

.width70 {
    width: 80%;
    height: 22px;
}

.width70 {
    width: 90%;
    height: 22px;
}

.width100 {
    width: auto;
    height: 22px;
}