.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.grey {
    color: #646464;
}

.Row {
    padding-top: 4px;
    padding-bottom: 7px;
}

.innerLeftSmall {
    padding-left: 12px;
}

.innerLeftMedium {
    padding-left: 24px;
}

.innerLeftBig {
    padding-left: 36px;
}

.innerRightSmall {
    padding-right: 12px;
}

.innerRightMedium {
    padding-right: 24px;
}

.innerRightBig {
    padding-right: 36px;
}

.width10 {
    width: 10%;
    float:left;
}

.width20 {
    width: 20%;
    float:left;
}

.width30 {
    width: 30%;
    float:left;
}

.width40 {
    width: 40%;
    float:left;
}

.width50 {
    width: 50%;
    float:left;
}

.width60 {
    width: 60%;
    float:left;
}

.width70 {
    width: 70%;
    float:left;
}

.width70 {
    width: 80%;
    float:left;
}

.width70 {
    width: 90%;
    float:left;
}

.width100 {
    width: 100%;
    float:left;
}

.width5 {
    width: 5%;
    float:left;
}

.width15 {
    width: 15%;
    float:left;
}

.width25 {
    width: 25%;
    float:left;
}

.width35 {
    width: 35%;
    float:left;
}

.width45 {
    width: 45%;
    float:left;
}

.width55 {
    width: 55%;
    float:left;
}

.width65 {
    width: 65%;
    float:left;
}

.width75 {
    width: 75%;
    float:left;
}

.width85 {
    width: 85%;
    float:left;
}

.width95 {
    width: 95%;
    float:left;
}

#logIn {
    margin: 20% auto;
    width: 232px;
    padding: 8px;
    border: 1px solid #0000ff;
}

#logInButton {
    margin-left: 132px;
    margin-top: 5px;
}