<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
    <head>
        <meta charset="UTF-8">
        <title>ToDoList</title>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/toDoListController.js"></script>
    </head>
    <body>
        <div  ng-controller="toDoListController">
            <!--Zde bude ta požadovaná stránka-->

            <div class="left" ng-if="!loginUser">
                <iframe src="/html/login.tpl.html"></iframe>
            </div>
            <div class="left" ng-if="loginUser">
                <iframe src="/html/basic.tpl.html"></iframe>
            </div>

        </div>
    </body>
</html>