<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <!-- Table to show employee details -->
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Project code</th>
            </tr>
            <tr ng-repeat="project in Projects | filter: {id_user: idUser}">
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.id_user}}</td> <!--vypsat jméno uživatele-->
                <td>{{project.project_code}}</td>

                <td>
                    <button class="btn btn-warning" ng-click="editProject(project)" title="Edit"><span
                            class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProject(project)" title="Delete"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>

        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>code</th>
                <th>created_date</th>
                <th>Estimate</th>
                <th>Remaining</th>
                <th>Worked</th>
                <th>id_user</th>
            </tr>
            <tr ng-repeat="task in Tasks | filter: {id_user: idUser}">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.code}}</td>
                <td>{{task.created_date}}</td>
                <td>{{task.estimate}}</td>
                <td>{{task.remaining}}</td>
                <td>{{task.worked}}</td>
                <td>{{task.id_user}}</td>


                <td>
                    <button class="btn btn-warning" ng-click="editTask(task)" title="Edit"><span
                            class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteTask(task)" title="Delete"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>


</main>