<!-- Form used to add new entries of employee in database -->
<form class="form-horizontal alert alert-warning" name="empList" id="form" ng-show="showForm" ng-submit="insertProject(empInfo)"  >
	
	<!--<div class="form-group">-->
		<!--<p class="text-danger" ng-show="empList.emp_name.$dirty">Name field is Empty!</p>-->
	<!--</div>-->

	<!--<div class="form-group">-->
		<!--<p class="text-danger" ng-show="empList.userName.$dirty">Invalid Email!</p>-->
	<!--</div>-->

	<div class="form-group">
		<label for="name">name:</label>
		<input type="text" id="name" name="name" class="form-control" ng-model="empInfo.name" autofocus required />
	</div>
    <div class="form-group">
		<label for="description">description:</label>
		<input type="text" id="description" name="description" class="form-control" ng-model="empInfo.description" autofocus required />
	</div>
	<div class="form-group">
		<label for="id_user">user:</label>
		<select name="id_user" id="id_user" ng-model="empInfo.selectedUser">
			<option value="{{user.id_user}}"  ng-repeat="user in users">{{user.first_name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="project_code">project code:</label>
		<input type="text" id="project_code" name="project_code" class="form-control" ng-model="empInfo.project_code" autofocus required />
	</div>

	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="empList.$invalid">Add new project</button>
	</div>
</form>