<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Projects</h1>
        <button id="newProjectBtn" class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">New project <span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <!--<div class="alert alert-default input-group search-box">-->
<!--<span class="input-group-btn">-->
<!--<input type="text" class="form-control" placeholder="Search Employee Details Into Database..." ng-model="search_query">-->
<!--</span>-->
                    <!--</div>-->

        </div>

    <div class="col-md-9 mx-auto">

        <!-- Include form template which is used to insert data into database -->
        <div ng-include="'html/form.html'"></div>

        <!-- Include form template which is used to edit and update data into database -->
        <div ng-include="'html/editForm.html'"></div>
    </div>
    <div class="clearfix"></div>

    <!-- Table to show employee details -->
    <div class="table-responsive width100">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Project code</th>
                <th>State</th>
                <th>Priority</th>

            </tr>
            <tr ng-repeat="project in Projects | filter:search_query">
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{users[project.id_user - 1].first_name}}</td>
                <td>{{project.project_code}}</td>
                <td>{{states[project.id_state - 1].name}}</td>
                <td>{{priorities[project.id_priority - 1].name}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="editProject(project)" title="Edit"><span
                            class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProject(project)" title="Delete"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>


</main>